@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Roboto+Slab:wght@200&display=swap');


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/bg.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}